a: :hove{
    text-decoration:inline
}
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


  .container {
    display: flex; 
    align-items: stretch;
    gap: 20px; 
    height: 600px;
  }
  
  .image {
    width: 700px;
    height:100%;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  .form {
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
  }
  
  input,
  button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
  }


  .carousel {
    width: 400px;  /* Set carousel width */
    height: 400px; /* Set carousel height */
}
